<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-camcard"
        version="0.7.0">

  <name>CamCard</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/CamCard.js" name="CamCard">
    <clobbers target="CamCard" />
  </js-module>

  <platform name="android">
    <preference name="OPEN_ID" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CamCard">
        <param name="android-package" value="com.oneteam.plugin.CamCard"/>
      </feature>
      <preference name="OpenId" value="$OPEN_ID" />
    </config-file>

    <source-file src="src/android/CamCard.java" target-dir="src/com/oneteam/plugin/"/>
    <resource-file src="src/android/libs/bcr_open_api_20160324.jar" target="libs/bcr_open_api_20160324.jar"/>
  </platform>

  <platform name="ios">
    <preference name="OPEN_ID" />

    <config-file target="config.xml" parent="/widget">
      <feature name="CamCard">
        <param name="ios-package" value="CamCard" />
      </feature>
      <preference name="OpenId" value="$OPEN_ID" />
    </config-file>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$PACKAGE_NAME</string>
          </array>
        </dict>
      </array>
    </config-file>    

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>CamCardWesternOpenAPI</string>
        <string>CamCardEastOpenAPI</string> 
        <string>CamCardHDOpenAPI</string> 
        <string>camcard</string>
      </array>
    </config-file>

    <header-file src="src/ios/CamCard.h" target-dir="CamCardPlugin"/>
    <source-file src="src/ios/CamCard.m" target-dir="CamCardPlugin"/>
    <framework src="src/ios/CamCardOpenAPIFramework.embeddedframework/CamCardOpenAPIFramework.framework" custom="true"/>
  </platform>

</plugin>